/EY API/Ey.Booking.Api/bin
/EY API/Ey.Booking.Api/obj/Debug
/EY API/Ey.Business/obj/Debug
/EY API/Ey.Business/bin
/EY API/Ey.Services/bin
/EY API/Ey.Services/obj/Debug
/EY API/Ey.Model/bin
/EY API/Ey.Model/obj/Debug
/EY API/Ey.DatabaseServices/bin
/EY API/Ey.DatabaseServices/obj/Debug
/EY API/Ey.Common/bin
/EY API/Ey.Common/obj/Debug
/EY API/Ey.Booking.Api/bin
