src/flydubai.Model/bin/
src/flydubai.Booking.Api/bin/
src/flydubai.Booking.Api/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/flydubai.Booking.Api/obj/
src/flydubai.Booking.Website/bin/
src/flydubai.Business/bin/
src/flydubai.Business/obj/
src/flydubai.Booking.Website/obj/
src/flydubai.Common/bin/
src/flydubai.Common/obj/
src/flydubai.Content.Business/bin/
src/flydubai.Content.Business/obj/
src/flydubai.Content.Service/bin/
src/flydubai.Content.Service/obj/
src/flydubai.DatabaseServices/bin/
src/flydubai.DatabaseServices/obj/
src/flydubai.Services/bin/
src/flydubai.Services/obj/
src/flydubai.Website.Common/bin/
src/flydubai.Website.Common/obj/
src/flydubai.iContact/obj/
/src/flydubai.WebConfigurator/bin
/src/flydubai.WebConfigurator/obj/Debug
/src/packages
/src/flydubai.iContact/bin
/src/flydubai.Model/obj/Debug
/src/.nuget
*.suo
/src/flydubai.Model/obj
/src/.vs
/src/flydubai.Booking.Api/Models/PayByCardRQ.cs
/src/flydubai.Business/flydubai.Business.csproj.user
/src/flydubai.Booking.Api/Properties/PublishProfiles
/src/flydubai.WebConfigurator/obj/Release
/src/flydubai.WebConfigurator/Properties/PublishProfiles/Webconfigurator.pubxml
/src/flydubai.WebConfigurator/Properties/PublishProfiles/Webconfigurator.pubxml.user
/src/flydubai.Content.Business/CreditCardAdminBusiness.cs
/src/flydubai.Content.Business/ICreditCardAdminBusiness.cs
/src/flydubai.DatabaseServices/CreditCardAdminService.cs
/src/flydubai.Services/CreditCardAdminService.cs
/src/flydubai.Services/ICreditCardAdminService.cs
/src/flydubai.WebConfigurator/js/tiny_mce
/src/flydubai.WebConfigurator/Views/Shared/Menu_LoggedIn.cshtml
/src/flydubai.WebConfigurator/Static_SQL/WebConfigurator_Scripts.sql
/src/flydubai.Booking.Api/Builders/ProfileApiBuilder.cs
/src/flydubai.Booking.Api/Areas/HelpPage/ModelDescriptions/DictionaryModelDescription.cs
/src/flydubai.Booking.Api/Contracts/TravelCart.ref
/src/flydubai.Booking.Api/Contracts/TravelCart.raml
/src/flydubai.Booking.Api/Contracts/Passengers.cs
/src/flydubai.Booking.Api/Contracts/IApiTravelcartPassengersController.cs
/src/flydubai.Booking.Api/Contracts/IApiTravelcartFlightsController.cs
/src/flydubai.Booking.Api/Contracts/IApiTravelcartController.cs
/src/flydubai.Booking.Api/Contracts/Exceptions.cs
/src/flydubai.Booking.Api/Contracts/ErrorFields.cs
/src/flydubai.Booking.Api/Contracts/ApiTravelcartPassengersPostRequestContent.cs
/src/flydubai.Booking.Api/Contracts/ApiTravelcartPassengersPostOKResponseContent.cs
/src/flydubai.Booking.Api/Contracts/ApiTravelcartPassengersController.cs
/src/flydubai.Booking.Api/Contracts/ApiTravelcartFlightsController.cs
/src/flydubai.Booking.Api/Contracts/ApiTravelcartController.cs
/src/flydubai.WebConfigurator/Cache/WebsiteSettingCache.cs
/src/flydubai.WebConfigurator/Cache/IWebsiteSettingCache.cs
/src/flydubai.WebConfigurator/Cache/IAirportCache.cs
/src/flydubai.WebConfigurator/Cache/AirportCache.cs
/src/flydubai.Common/App_Packages/LibLog.2.0/LibLog.cs
/src/flydubai.Common/Redis
/src/flydubai.Services/Service References/RadixxReservation
/src/flydubai.WebConfigurator/Helpers/DateModelBinder.cs
/src/flydubai.Content.Business/ISeatSettingsBusiness.cs
/src/flydubai.Content.Business/SeatSettingsBusiness.cs
/src/flydubai.Model/Content/SeatSettings.cs
/src/flydubai.DatabaseServices/SeatSettingsService.cs
/src/flydubai.Services/ISeatSettingsService.cs
/src/flydubai.Services/SeatSettingsService.cs
/src/flydubai.WebConfigurator/Controllers/SeatSettingCmsController.cs
/src/flydubai.WebConfigurator/Models/SeatSettingCmsViewModel.cs
/src/flydubai.WebConfigurator/Views/SeatSettingCms/Edit.cshtml
/src/flydubai.WebConfigurator/Views/SeatSettingCms/Index.cshtml
/database/flydubai_aer/flydubai_aer
/src/FzIBETesterApp/bin/Debug
/src/FzIBETesterApp/obj/Debug
/src/FzIBETesterApp/bin/Release
/src/FzIBETesterApp/obj/Release
/src/Tests/flydubai.Business.Tests/bin/Debug
/src/Tests/flydubai.Business.Tests/obj/Debug
/src/Tests/flydubai.Services.Tests/bin/Debug
/src/Tests/flydubai.Services.Tests/obj/Debug
/src/Tests/FZ.Booking.Api.Tests/bin/Debug
/src/Tests/FZ.Booking.Api.Tests/obj/Debug
/src/Tests/flydubai.Business.Tests/obj/Release
/src/Tests/flydubai.Services.Tests/obj/Release
/src/Tests/FZ.Booking.Api.Tests/obj/Release
/src/flydubai.Booking.Api/.vs/config/applicationhost.config
/src/flydubai.Business/PaymentTypeBusiness.cs
/src/flydubai.Business/MpesaSettingBusiness.cs
/src/flydubai.Business/IMpesaSettingBusiness.cs
/logs
/src/flydubai.Booking.Api/Webinternal.config
/src/flydubai.Booking.Api/WebQA2GUIDfailing.config
/src/TestResults
/src/Tests/flydubai.Services.Tests/Mocks/Flights.json
src/flydubai.Builders.Tests/bin/
src/flydubai.Builders.Tests/obj/
/logs

